<h3>Orbit Report</h3>

<table>
   <tr class="header-row">
      <th class="sortable" (click) = "sort('name')">Name</th>
      <th class="sortable"(click)="sort('type')">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>


      <!-- <th ng-click = "sort('name')">Name<div ng-class="sortClass('name')"></th> -->
      <!-- <th><button (click)="sort('name')"></th>
      <th><button (click)="sort('type')">Add</button></th> -->
      <!-- <button (click)='search(searchTerm.value)'>Add</button> -->
      <!-- <button (click)="sort('Type')"></button> -->
      <!-- <th>(click)="sort('name')">Name</th>
      <th></th> -->
      <!-->Name -->
     

      <!-- <button (myClick)="sort('name')"clickable>Name</button>
  {{satellite.name}} -->
  
      
      
      
      
     
         
   </tr>
      <tr *ngFor="let satellite of satellites">
        <td> {{satellite.name}}</td>
        <td [class.warning] = " satellite.shouldShowWarning()">{{satellite.type}}</td>
         <td>{{satellite.operational}}</td>
         <td>{{satellite.orbitType}}</td>
         <td>{{satellite.launchDate}}</td>

     </tr>
</table>